html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
  font-family: "PT Sans", sans-serif;
  background: linear-gradient(70deg, #185792, white);
}

.contenedor {
  width: auto;
  height: 100vh;
  display: grid;
  place-items: center;
}

.contenedor-email {
  width: 110rem;
  height: 520px;
  display: grid;
  place-items: center;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  position: relative;
}

.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  height: 50px;
  margin: 0;
  background-color: #2d2b55;
  font-size: 2.5rem;
  text-align: center;
  color: white;
}

.contenedor-email .formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formulario {
  width: 50%;
  height: 80%;
  top: 7rem;
  position: absolute;
}

.etiquetas {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.input {
  height: 4rem;
  width: auto;
  border: 1px rgba(0, 0, 0, 0.4) outset;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.entradas {
  display: flex;
  flex-direction: column;
}

.input-area {
  height: 5.5rem;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 2rem;
  height: 6.5rem;
}

.boton {
  width: 100%;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
}

.boton-enviar {
  background-color: #2a77c7;
}

.boton-reset {
  background-color: #319860;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
}

.cursor{
  cursor: not-allowed;
}

.opacidad{
  opacity: 50%;
}

.not-error{
  border: 2px solid green;
}

.error{
  border: 2px solid red;
}

.mensaje-error{
  border: 1px solid red;
  text-align: center;
  color: red;
  margin: 0;
  margin-top: 1.5rem;
  padding: 1rem;
  font-size: 1.5rem;
}

@media (max-width: 1280px) {
  .contenedor-email {
    width: 800px;
  }
}

@media (max-width: 768px) {
  .contenedor-email {
    width: 500px;
  }
  .botones{
    height: 3.5rem;
  }
}